
.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  border: none !important;
  background-color: transparent !important;
  padding: 15px 0 !important;
}
.react-datepicker__current-month{
  font-size: 14px !important;
}
.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0 !important;
  border-color: #1B1B1B !important;
  top:14px !important;
}

.react-datepicker__day-name, .react-datepicker__day{
  width: 35px !important;
  height: 32px !important;
  line-height: 32px !important;
  color: #4B4B4B !important;
}
.react-datepicker__day-name{
  font-size: 14px !important;
  font-weight: 700;
}

.react-datepicker__day--selected{
  background-color: #0B3B2D !important;
  border-radius: 8px !important;
  color: #ffffff !important;
}

.react-datepicker__day:not([aria-disabled=true]):hover{
  border-radius: 8px !important;
  background-color: #CED8D5 !important;
  color: #0B3B2D;
}


.react-datepicker__day--outside-month.react-datepicker__day--selected{
  color: #ffffff !important;
}

.react-datepicker__day{
  font-size: 13px !important;
  font-weight: 600;
}

.react-datepicker__day--outside-month, .react-datepicker__day--disabled{
  color: #A4A1AA !important;
}