@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard.css";

@import "./custom-datepicker.css";

@theme inline {
  /* border-radius */
  --radius-4: 0.25rem;   /* 4px */
  --radius-8: 0.5rem;    /* 8px */
  --radius-12: 0.75rem;   /* 12px */
  --radius-16: 1rem;      /* 16px */
  --radius-24: 1.5rem;   /* 24px */

  /* primary colors */
  --color-brand-black: rgb(34 34 34);
  --color-brand-nomad-black: rgb(38 43 45);
  
  /* grays */
  --color-brand-gray-900: rgb(51 51 51);
  --color-brand-gray-800: rgb(90 84 95);
  --color-brand-gray-700: rgb(114 114 114);
  --color-brand-gray-600: rgb(128 122 131);
  --color-brand-gray-500: rgb(145 140 149);
  --color-brand-gray-400: rgb(185 180 190);
  --color-brand-gray-300: rgb(217 217 217);
  --color-brand-gray-200: rgb(238 238 238);
  --color-brand-gray-100: rgb(250 250 250);

  /* greens */
  --color-brand-deep-green-500: rgb(22 60 42);
  --color-brand-deep-green-50: rgb(225 237 226);

  --color-brand-green-500: rgb(86 184 102);

  /* reds */
  --color-brand-red-500: rgb(230 80 60);
  --color-brand-red-200: rgb(255 182 170);
  --color-brand-red-50: rgb(255 235 230);

  /* oranges */
  --color-brand-orange-500: rgb(255 163 70);
  --color-brand-orange-50: rgb(255 247 230);

  /* yellows */
  --color-brand-yellow-500: rgb(255 214 70);

  /* blues */
  --color-brand-blue-500: rgb(70 135 255);
  --color-brand-blue-200: rgb(130 170 255);
  --color-brand-blue-50: rgb(235 245 255);


  /* 폰트 */
  --font-sans: "Pretendard", system-ui, sans-serif;
  --font-arial: Arial, Helvetica, sans-serif;
  
  /* Text 3xl (32px / 42px) */
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.625rem;

  /* Text 2xl (24px / 32px) */
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;

  /* Text xl (20px / 32px) */
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;

  /* Text 2lg (18px / 26px) */
  --text-2lg: 1.125rem;
  --text-2lg--line-height: 1.625rem;

  /* Text lg (16px / 26px) */
  --text-lg: 1rem;
  --text-lg--line-height: 1.625rem;

  /* Text md (14px / 24px) */
  --text-md: 0.875rem;
  --text-md--line-height: 1.5rem;

  /* Text sm (13px / 22px) */
  --text-sm: 0.8125rem;
  --text-sm--line-height: 1.375rem;

  /* Text xs (12px / 18px) */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.125rem;

  --transition-props:
    color,
    background-color,
    border-color,
    opacity,
    transform,
    box-shadow,
    width,
    height,
    max-height,
    margin,
    padding,
    font-size,
    line-height,
    letter-spacing,
    word-spacing;

    
  --shadow-base: 0 4px 16px rgba(0, 0, 0, 0.08);
  --shadow-green: 0 4px 16px rgba(17,34,17, 0.05);
  --shadow-blue: 0 2px 8px rgba(120,116,135, 0.25);
}

@custom-variant tablet (@media (max-width: 78rem)); /* 1248px 이하 */
@custom-variant mobile (@media (max-width: 46.5rem)); /* 744px 이하 */

@layer base{
  
  body {
    /* 기본 스타일 */
    @apply bg-brand-gray-100 text-brand-black;
  }

  /* 버튼 커서 */
  button {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-default;
  }

/* 링크 기본 스타일 */
@layer base {
  a { @apply no-underline text-brand-black w-full h-full; }
}

/* 포커스인 테두리 */
:focus {
  @apply outline-brand-nomad-black;
}

  /* 에러 테두리 */
  .is-error {
    @apply border-brand-red-500 ring-1 ring-brand-red-500;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }


  .container-base {
    @apply mx-auto w-full max-w-[1200px];
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }


  @keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .shimmer {
    background: linear-gradient(
      90deg,
      var(--color-brand-gray-400) 0%,
      var(--color-brand-gray-300) 25%,
      var(--color-brand-gray-200) 50%,
      var(--color-brand-gray-300) 75%,
      var(--color-brand-gray-400) 100%
    );
    background-size: 400% 100%;
    animation: shimmer 2.2s infinite linear;
  }

  .transition-base {
    transition-property: var(--transition-props);
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }


  /* svgr 색상 변경 클래스 */
  /* fill만 */
  .svg-fill path,
  .svg-fill rect,
  .svg-fill circle {
    fill: currentColor;
  }

  /* stroke만 */
  .svg-stroke path,
  .svg-stroke rect,
  .svg-stroke circle {
    stroke: currentColor;
  }
}