/* 선택 가능한 날짜: 테두리/배경 살짝 강조 */
.rdp-available .react-datepicker__day--in-range,
.rdp-available .react-datepicker__day--in-selecting-range {
  background: transparent;
}

.rdp-available {
  font-weight: 600;
}
.rdp-available span {
  color: #1B1B1B; /* 기본 날짜 색상 */
}

.rdp-past span{
  color: #1B1B1B;
}

/* 비활성 날짜는 연하게 */
.rdp-unavailable {
  opacity: 0.45;
}

.rdp-pending span {
  color: #9ca3af;
  pointer-events: none;
}