/* 테블릿 */
@media (max-width: 78rem) {
  .react-datepicker{
    border: none !important;
  }
  
  .react-datepicker__day-name{
    width: 48px !important;
    height: 30px !important;
  }

  .react-datepicker__day{
    width: 48px !important;
    height: 60px !important;
  }
}

/* 모바일 */
@media (max-width: 46.5rem) {
  .react-datepicker__day-name{
    width: 38px !important;
    height: 24px !important;
  }

  .react-datepicker__day{
    width: 38px !important;
    height: 48px !important;
  }
}